.masthead {
    padding-bottom: 9.5rem !important;
}

.screen {
    background-color: #fff !important;
}

.qrcode {
    position: relative;
    top: 25%;
    left: 3%;
}

.card {
    width: 400px;
    padding: 10px;
    border-radius: 20px;
    background: #fff;
    border: none;
    height: 300px;
    position: relative;
    transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
        0.3s box-shadow,
        0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.mobile-text {
    color: #989696b8;
    font-size: 15px;
}

.form-control {
    margin-right: 4px;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ff8880;
    outline: 0;
    box-shadow: none;
}

.cursor {
    cursor: pointer;
}

.form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 14px;
    color: #989696;
    opacity: 0.6;
}
.form-control::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 14px;
    color: #989696;
    opacity: 0.6;
}
.form-control:-ms-input-placeholder {
    /* IE 10+ */
    font-size: 14px;
    color: #989696;
    opacity: 0.6;
}
.form-control:-moz-placeholder {
    /* Firefox 18- */
    font-size: 14px;
    color: #989696;
    opacity: 0.6;
}

input {
    text-align: center;
    font-weight: 700 !important;
    letter-spacing: 2px;
}

@media screen and (min-width: 720px) and (max-width: 1400px) {
    .qrcode {
        top: 32%;
        left: 6%;
    }
    .qrcode svg {
        width: 180px !important;
        height: 180px !important;
    }
}

@media screen and (min-width: 541px) and (max-width: 740px) {
    .qrcode {
        top: 32%;
        left: 4%;
    }
    .qrcode svg {
        width: 160px !important;
        height: 160px !important;
    }
}

@media only screen and (max-width: 540px) {
    .masthead {
        padding-bottom: 5.5rem !important;
    }

    .qrcode {
        top: 32%;
        left: 6%;
    }

    .qrcode svg {
        width: 120px !important;
        height: 120px !important;
    }

    #reader {
        width: 300px !important;
        margin-bottom: 20px !important;
    }

    .card {
        width: 380px;
        height: 300px;
    }

    .mobile-text {
        font-size: 14px;
    }
}
